# 04. Type of variable (2)
> list, tuple, dictionary, set <br/>
> Important data type of python <br/>
> All data type in python is a object <br/>

### 1. List class
- list1 = list()		# create empty list<br>
- list2 = list("Hello")		# create a list which has elements of H, e, l, l, o<br>
- list3 = list(range(0, 5))	# create a list which has elements of 0, 1, 2, 3, 4<br>
- list4 = [ ] 			# create empty list<br>
- list5 = [ "H", "e", "l", "l", "o" ] 	# create a list which has elements of H, e, l, l, o<br> 
- list6 = [ 0, 1, 2, 3, 4 ] # create a list which has elements of 0, 1, 2, 3, 4<br>

### 2. Complex list
- list1 = [12, "dog", 180.14] 				# mixed type of variable <br>
- list2 =  [["Seoul", 10], ["Paris", 12], ["London", 50]] 	# list in list <br> 
- list3 = ["aaa", ["bbb", ["ccc", ["ddd", "eee", 45]]]] 	# list in list <br>

In [1]:
list2 = list("Hello")

In [2]:
list2

['H', 'e', 'l', 'l', 'o']

In [3]:
list2[1]

'e'

In [4]:
a = []
a

[]

In [5]:
# type check
type(a)

list

In [6]:
# list with mixed type
a = [1, 2.5, "string"]
a

[1, 2.5, 'string']

#### Operations

In [7]:
# list add
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [8]:
a + b + [8, 9]

[1, 2, 3, 4, 5, 6, 8, 9]

In [9]:
# list multiplication
a * 2

[1, 2, 3, 1, 2, 3]

In [10]:
# error: minus operation is not supported
a - [4, 5]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

#### Indexing, Slicing

In [11]:
a[0]

1

In [12]:
b = [[1, 2, 3], "string"]

# extract 3
b[0][2]

3

In [13]:
c = [1, 2, 3, 4, 5, 6, 7]

# minus indexing
c[-1]

7

In [14]:
# Last number is not included in slicing
# [start:end:[order/step]]

c[1:4]

[2, 3, 4]

In [15]:
c[::2] # step = 2

[1, 3, 5, 7]

In [16]:
c[1::2] # step = 2 and starts with 2nd element

[2, 4, 6]

In [17]:
c[::-1] # inverse

[7, 6, 5, 4, 3, 2, 1]

In [18]:
# index(data): return the first matched element with data
c = [1, 2, 3, 3, 4, 5, 6, 7]
c.index(3)

2

In [19]:
# error: data not found
c.index(8)

ValueError: 8 is not in list

In [20]:
# count(data): count of matched elements with data
c.count(3)

2

In [21]:
c.count(1)

1

In [22]:
c.count(8)

0

#### Handle list elements

- Many different methods could revise elements of a list

In [23]:
# element check
3 in c

True

In [24]:
7 in c

True

In [25]:
# element change with indexing
b[0][2] = "three"
b

[[1, 2, 'three'], 'string']

In [26]:
# element change with slicing
c[:3] = 'one', 'two', 'three'
c

['one', 'two', 'three', 3, 4, 5, 6, 7]

In [27]:
c

['one', 'two', 'three', 3, 4, 5, 6, 7]

In [28]:
# delete element in a list
del c[3]

In [29]:
# original list has changed
c

['one', 'two', 'three', 4, 5, 6, 7]

In [30]:
# delete element with slicing
del c[2:]

In [31]:
c

['one', 'two']

In [32]:
a = [100, 200]
a

[100, 200]

In [33]:
# append(data): add data to a list element at the end
a.append(300)
a

[100, 200, 300]

In [34]:
#  extend(list): concat new list at the end of a list
a.extend([400, 500]) # same as a += [400, 500]
a

[100, 200, 300, 400, 500]

In [35]:
# insert(index, data): add data to list element with the given index
a.insert(1, 50)
a

[100, 50, 200, 300, 400, 500]

In [36]:
# pop(index): returns data in list with an index and removes the extracted
a.pop()

500

In [37]:
a

[100, 50, 200, 300, 400]

In [38]:
a.pop(0)

100

In [39]:
a2 = ['a', 'b', 'b', 'c']

In [40]:
# remove(data): remove the first element of matched data
a2.remove('b')
a2

['a', 'b', 'c']

#### List sort

1. sort() function
2. Ascii-code is default criteria for stirng <br/>
3. Adding sort criteria <br/>
4. Inversed sort

In [41]:
a = ['a', 'b', 'e', 'c']

In [42]:
a.sort

In [43]:
a.sort()
a

['a', 'b', 'c', 'e']

In [44]:
a2 = ['a', 'B', 'e', 'C']
a2.sort()
a2

['B', 'C', 'a', 'e']

In [45]:
# sort with key
a = ['a', 'B', 'e', 'C']
a.sort(key=str.lower)
a

['a', 'B', 'C', 'e']

In [46]:
# reverse sort
a = ['a', 'B', 'e', 'C']
a.sort(key=str.lower, reverse=True) # same as a.reverse()
a

['e', 'C', 'B', 'a']

In [47]:
# string-like integer (sorted by ascii-code value)
a = ['123', '34', '56', '2345']
a.sort()
a

['123', '2345', '34', '56']

In [48]:
a = [123, 34, 56, 2345]
a.sort()
a

[34, 56, 123, 2345]

In [49]:
a = ['b', 'a', 'c', 'd']
a.reverse()
a

['d', 'c', 'a', 'b']

In [50]:
# sort with reversed order - another way
a.sort(reverse = True)
a

['d', 'c', 'b', 'a']

In [51]:
a = [0, 1, 2, 3, 4]

In [52]:
# sorted() returns new list
a2 = sorted(a, reverse=True)

print(a)
print(a2)

[0, 1, 2, 3, 4]
[4, 3, 2, 1, 0]

In [53]:
# list in list
b = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
b

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [54]:
b = [[[1.2], ['a', 'b']], ['F']]
b[0][1][0]

'a'

### 3. Tuple
> Immutable list

- tuple1 = ()<br>
- tuple2 = tuple()<br>
- t1 = (1, 2, 3, 4, 5)<br>
- t2 = ("red", "green", "blue")<br>
- t = t1 + t2 <br>
- t3 = 'test', 'test1', 'test2' # listed object without bracket

In [55]:
t1 = (1, 2, 3)
t2 = ('a', 'b', 'c')

In [56]:
t1, t2

((1, 2, 3), ('a', 'b', 'c'))

In [57]:
# type check
type(t1)

tuple

In [58]:
# tuple is immutable list. adding or revising element is not supported
# error : t1[2] = 5

In [59]:
# count a element
t3 = (1, 2, 2, 1, 3, 4, 5)
t3.count(1)

2

In [60]:
# returns data index
t3.index(5)

6

In [61]:
# tuple in list
list1 = [(1, 2, 3, ), ['a', 'b', 'c']]

In [62]:
list1[0]

(1, 2, 3)

In [63]:
list1[0][1]

2

### 4. Dictionary

1. Syntax: {key : value, key2 : value2 ...}
2. Usage: dict_variable[key]
3. Search a value with a related key
- Managed by key, value pair
- Unordered
- The key must be a unique value
- Main functions : get() / items() / keys() / values() / copy() / update() /
- Data management: <br>
    1. Add value in a dictionary: dict_variable['new_key'] = newdata or dict_variable.update({'new_key': newdata})
    2. Get data in a dictionary: get(), ['key']

In [64]:
dic1 = {'p1': 'v1', 'p2': 'v2'}

In [65]:
len(dic1)

2

In [66]:
type(dic1)

dict

In [67]:
# dictionary is non-callable 
dic1('p1')

TypeError: 'dict' object is not callable

In [68]:
# dict class
dict()

{}

In [69]:
# initialize with key=value structure
dic1 = dict(one=1, two=2)
dic1

{'one': 1, 'two': 2}

In [70]:
dic1['one']

1

In [71]:
# initialize with tuple
dic2 = dict([('number', 3), ('fruit', 1), ('color', 2)])
dic2

{'number': 3, 'fruit': 1, 'color': 2}

In [72]:
# initialize with zip function
dic3 = dict(zip(['number', 'fruit', 'color'], [3, 1, 2]))
dic3

{'number': 3, 'fruit': 1, 'color': 2}

#### Handle dictionary elements
- if a new key exists in dictionary, the pair would be update the value of pair. if not, add to the dictionary

In [73]:
dic = {'name': 'hyunjoong', 'phone': '01093281544', 'birth': '0219'}
dic

{'name': 'hyunjoong', 'phone': '01093281544', 'birth': '0219'}

In [74]:
# add a new key:value pair
dic["email"] = "hj.ben.kim@gmail.com"
dic

{'name': 'hyunjoong',
 'phone': '01093281544',
 'birth': '0219',
 'email': 'hj.ben.kim@gmail.com'}

In [75]:
dic.update({'nationality': 'Republic of Korea'})
dic

{'name': 'hyunjoong',
 'phone': '01093281544',
 'birth': '0219',
 'email': 'hj.ben.kim@gmail.com',
 'nationality': 'Republic of Korea'}

In [76]:
dic["phone"] = "+821093281544"
dic

{'name': 'hyunjoong',
 'phone': '+821093281544',
 'birth': '0219',
 'email': 'hj.ben.kim@gmail.com',
 'nationality': 'Republic of Korea'}

In [77]:
# remove key:value pair by key
del dic["name"]

In [78]:
dic

{'phone': '+821093281544',
 'birth': '0219',
 'email': 'hj.ben.kim@gmail.com',
 'nationality': 'Republic of Korea'}

In [79]:
# pop(key) removes the key: value pair and returns value 
dic.pop('birth')

'0219'

#### Get data from dictionary

In [80]:
dic.keys()

dict_keys(['phone', 'email', 'nationality'])

In [81]:
dic.values()

dict_values(['+821093281544', 'hj.ben.kim@gmail.com', 'Republic of Korea'])

In [82]:
dic.items()

dict_items([('phone', '+821093281544'), ('email', 'hj.ben.kim@gmail.com'), ('nationality', 'Republic of Korea')])

In [83]:
"name" in dic.keys()

False

In [84]:
d = {'a': 3, 'd': 2, 'f': 6}
d

{'a': 3, 'd': 2, 'f': 6}

In [85]:
# error: key not exists - d.data(03)

In [86]:
# get value from dict
d.get('f')

6

In [87]:
type(d.get('f'))

int

In [88]:
# if data not exists
d.get('c')

In [89]:
type(d.get('c'))

NoneType

In [90]:
# confirm the existence of data using a conditional statement
# validate 'a' in key
if 'a' in d:
    print('a key exists!!')

a key exists!!

In [91]:
# test with keys
'a' in d

True

### 5. Set
1. Data list with unordered, unique elements
2. Because of the uniqueness of elements, a set may be used to get unique elements of a list <br>
- set1 = {2, 1, 3} <br>
- set2 = set() <br>

####  Subset operation & Set operation
> issubset() - check if subset<br>
> issuperset() - check if superset<br>

> union() <br>
> intersection() - '&' operator could be used<br>
> difference() - '-' operator could be used<br>

In [92]:
# subset operation
A = {1, 2, 3}
B = {1, 2, 3}
A == B

True

In [93]:
# subset operation
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
B < A

True

In [94]:
# subset operation
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
B.issubset(A)

True

In [95]:
# set operation
A = {1, 2, 3}
B = {3, 4, 5}

In [96]:
A.union(B) # same as A | B

{1, 2, 3, 4, 5}

In [97]:
A.intersection(B) # same as A & B

{3}

In [98]:
A.difference(B) # same as A - B

{1, 2}

In [99]:
# set class
set2  = set()
set2

set()

In [100]:
type(set2)

set

In [101]:
set2 = {1, 2, 3}
set2

{1, 2, 3}

In [102]:
# set only allows unique value
set3 = {1, 2, 3, 3}  
set3

{1, 2, 3}

In [103]:
# add element in a set
set3.add(5)
set3

{1, 2, 3, 5}

In [104]:
# update set with another set
set4 = {7,8,9}
set3.update(set4)
set3

{1, 2, 3, 5, 7, 8, 9}

In [105]:
# delete data
set3.discard(3)
set3

{1, 2, 5, 7, 8, 9}

In [106]:
set3.remove(5)
set3

{1, 2, 7, 8, 9}

In [107]:
# data existance check
7 in set3

True

In [108]:
5 not in set3

True