# 08. Function (2)

Special type of functions

1. Lambda
2. Map
3. Reduce
4. Filter
5. zip

### 1. Lambda

- One-line function without name
- No parameter limits
- Could be used for returning value of a function or data of a variable
- A list could be sorted by lambda
- Syntax :<br/>
    lambda argement[...]: expression

In [1]:
bomb = lambda x: x + 10   # function in one line
bomb(10)

20

In [2]:
bomb = lambda x, y: x + y 
bomb(10, 20)

30

In [1]:
# function in function
def sum(n):
    return lambda x : x + n

In [2]:
# returns lambda function
f2 = sum(10)
f2

In [3]:
f2(100)

110

In [4]:
f3 = lambda x: x**2
f3(2)

4

In [5]:
f4 = lambda x, y, z : 2*x + 3*y + 4*z
f4

In [6]:
# call f4
f4(1, 2, 3)

20

In [7]:
# f5 is a normal function which has same logic with f4
def f5(x, y, z):
    return  2*x + 3*y + 4*z

f5(1, 2, 3)

20

In [8]:
# more complex lambda functions
def g(func):
    return [func(x) for x in range(-10, 10)]

In [9]:
print(g(lambda x: x*x + 3*x - 10))
print(g(lambda x: x*x*x))

[60, 44, 30, 18, 8, 0, -6, -10, -12, -12, -10, -6, 0, 8, 18, 30, 44, 60, 78, 98]
[-1000, -729, -512, -343, -216, -125, -64, -27, -8, -1, 0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [10]:
def f1(x):
    return x*x + 3*x -10

def f2(x):
    return x*x*x

In [11]:
print(g(f1))
print(g(f2))

[60, 44, 30, 18, 8, 0, -6, -10, -12, -12, -10, -6, 0, 8, 18, 30, 44, 60, 78, 98]
[-1000, -729, -512, -343, -216, -125, -64, -27, -8, -1, 0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [3]:
say = lambda x: "Hello, {}".format(x)
say('Hyunjoong')

'Hello, Hyunjoong'

#### List sort with lambda

In [12]:
mylist = [1, 5, 3, 9, 8, 4, 2]
mylist.sort(reverse=True)

In [13]:
mylist

[9, 8, 5, 4, 3, 2, 1]

In [14]:
# lambda could be used by 'key' argument of sort function
mylist = [1, 5, 3, 9, 8, 4, 2]
mylist.sort(key=lambda a: a)
mylist

[1, 2, 3, 4, 5, 8, 9]

In [15]:
mylist2 =[('song', 25, 100), ('kim', 27, 90), ('park', 43, 107)]

In [16]:
# sort by 3rd value of tuple
mylist2.sort(key=lambda a: a[2])
mylist2

[('kim', 27, 90), ('song', 25, 100), ('park', 43, 107)]

In [17]:
# ignore case
# lower()

mylist3 = ['Spam', 'egg', 'Ham']
mylist3.sort(key=lambda v : v.lower())
mylist3

['egg', 'Ham', 'Spam']

In [18]:
mydict1 = {'one' : 1, 'two' : 2, 'three' : 3}
sorted(mydict1)

['one', 'three', 'two']

In [19]:
sorted(mydict1.items())

[('one', 1), ('three', 3), ('two', 2)]

In [20]:
sorted(mydict1.items(), key=lambda v: v[1])

[('one', 1), ('two', 2), ('three', 3)]

In [21]:
sorted(mydict1.items(), key=lambda v: v[0])

[('one', 1), ('three', 3), ('two', 2)]

### 2. Map

- Syntax: map(function, list)
- Terms (also could be a API): iterable, ennumeration<br/>
enumerated object with the structure that is able to pop one data from multiple data without order<br/>
- Returns a result that 1st argument (function) is applied to 2nd argument (list type)

In [22]:
def f(x):
    return x*x

In [23]:
X = [1, 2, 3, 4, 5]
Y = map(f, X)

In [24]:
Y

In [25]:
# with lambda function
Y = map(lambda a: a*a, X)
Y

In [15]:
for item in Y:
    print(item)

1
4
9
16
25

In [26]:
map(lambda x: x**2, range(5))

In [27]:
list(map(lambda x: x**2, range(5)))

[0, 1, 4, 9, 16]

In [28]:
list(map(lambda x: x**2, [2, 2, 4, 5]))

[4, 4, 16, 25]

In [16]:
Y = [6, 7 ,8 ,9 ,10]
Z = map(lambda x, y: x+y, X, Y)

In [23]:
a = [1, 2, 3, 4]
b = [10, 20, 30, 40]

for item in map(lambda x, y:(x, y), a, b):
    print(item)

(1, 10)
(2, 20)
(3, 30)
(4, 40)

In [28]:
for item in zip(a, b):
    print(item)

(1, 10)
(2, 20)
(3, 30)
(4, 40)

### 3. Reduce

- Syntax: reduce(function, list)
- Usually used as accumulation tool
- functools module must be declared

In [30]:
from functools import reduce

reduce(lambda x, y: x+y, [2, 2, 4, 5])

13

In [31]:
# user-made reduce function

def user_reduce(data):
    result = 0
    
    for x in data:
        result += x
    
    return result

user_reduce([2, 2, 4, 5])

13

### 4. Filter

- Syntax : filter(function, list)
- Extracts subset of data

In [32]:
filter(lambda x: x < 5, range(10))

In [33]:
list(filter(lambda x: x < 5, range(10)))

[0, 1, 2, 3, 4]

In [34]:
list(filter(lambda x: x < 2, range(10)))

[0, 1]

### 5. Zip

- Syntax: zip(list, list)
- Zip each element of the given lists

In [1]:
x = [1, 2, 3]
y = [4, 5, 6]

zip(x, y)

In [2]:
data = zip(x, y)
list(data)

[(1, 4), (2, 5), (3, 6)]

In [3]:
data2 = list(data)
type(data2)

list

In [4]:
for x, y in zip(x, y):
    print(x, y)

1 4
2 5
3 6