# 11. Comprehension

- One-line for statement could be executed in list, set, dictionary
- Named by list comprehension, set comprehension, dictionary conprehension

In [1]:
# origianl List

a = [1, 2, 3, 4]
result = []

for num in a:
    result.append(num * 3)

print(result)

[3, 6, 9, 12]

In [2]:
# simple version with list comprehension

result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [3]:
data = []
for x in range(10):
    data.append(x**2)
    
data

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
# location and order is important
data = [x**2 for x in range(10)]
data

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
# add 2 and save to list from 0~5
'''
0~5 : range(6)
Repetitive : for
+2 : formula
save the results to a list: list
'''

data2 = [v+2 for v in range(6)]
data2

[2, 3, 4, 5, 6, 7]

In [6]:
# comprehension with if statement
data2 = []
for v in range(6):
    if v%2 ==0:
        data2.append(v+2)
data2

[2, 4, 6]

In [7]:
data2 = [v+2 for v in range(6) if v%2==0]
data2

[2, 4, 6]

In [8]:
# generate and save tuples in a list
combs = []
for x in [1, 2, 3]:
    for y in [3, 1, 4]:
        if x != y:
            combs.append((x, y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [9]:
[(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [10]:
# apply to dictionary
# generate a dictionary from list with tuple

{x:y for x, y in [(1, 'one'), (2, 'two')]}

{1: 'one', 2: 'two'}

In [11]:
v = {1:2, 2:3, 3:4}
type(v)

dict

In [12]:
{x:y for x, y in [(1, 2), (2, 3), (3, 4)]}

{1: 2, 2: 3, 3: 4}

In [17]:
# comprehension expression
# value*value 
# input data: 0~9
[x*x for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
# print only even number
[x*x for x in range(10) if (x*x)%2==0]

[0, 4, 16, 36, 64]

In [19]:
# [[10, 11, 12], [13, 14 ,15], [16, 17, 18]]
[[x, x+1, x+2] for x in range(10, 17, 3)]

[[10, 11, 12], [13, 14, 15], [16, 17, 18]]

In [20]:
[[x*3 + y for y in [10, 11, 12]] for x in [0, 1, 2]]

[[10, 11, 12], [13, 14, 15], [16, 17, 18]]

In [21]:
#original code
data = []

for v1 in [0, 1, 2]:
    inner_data = []
    for v2 in [10, 11, 12]:
        inner_data.append(v1*3 + v2)
    data.append(inner_data)

print(data)

[[10, 11, 12], [13, 14, 15], [16, 17, 18]]

In [94]:
# generate 3-dimentional list
# [[[1, 2, 3], [4, 5, 6], [7, 8, 9]], [[11, 12, 13], [14, 15, 16], [17, 18, 19]], [[21, 22, 23], [24, 25, 26], [27, 28, 29]]]
# Use range function

In [22]:
[[[(x+1) + (y*3) + (z*10) for x in range(3)] for y in range(3)] for z in range(3)]

[[[1, 2, 3], [4, 5, 6], [7, 8, 9]],
 [[11, 12, 13], [14, 15, 16], [17, 18, 19]],
 [[21, 22, 23], [24, 25, 26], [27, 28, 29]]]