In [2]:
import seaborn as sns
import numpy as np
import pandas as pd

# Types of variable

## 1. Numeric

In [3]:
a =123
print(a)

a= -178
print(a)

123
-178

In [4]:
a = 31
b = 3

In [5]:
a*b

93

In [8]:
a+b

34

In [10]:
a**b

29791

In [11]:
a%b

1

In [12]:
a//b

10

## 2. String

In [13]:
"Hello World"

'Hello World'

In [14]:
'I say "Hello World!!"'

'I say "Hello World!!"'

In [7]:
# multi line

'''this is 
new line'''

31

'this is \nnew line'

In [25]:
s1 = "Hello"
s2 = "World"

In [26]:
s1+s2

'HelloWorld'

In [27]:
s1+" "+s2

'Hello World'

In [42]:
"="*50

'=================================================='

#### Formatting

In [9]:
s1 = "Hello %s"
s1 %"HyunJoong"

'Hello HyunJoong'

In [40]:
s1 = "안녕하세요 %s , 오늘은 %02d월 %2d일 입니다." %("현중", 7, 13)

print(s1)

안녕하세요 현중 , 오늘은 07월 13일 입니다.

#### Formatting with numbers

In [38]:
#자동 반올림
"%.2f" %0.235763

'0.24'

In [39]:
"%10.4f" % 3.42134234

'    3.4213'

In [43]:
a = "Life is too short, You need Python"

print(a[0])
print(a[12])
print(a[-1])

L
s
n

In [44]:
# Last number is not included in slicing.
# 0<= a<4

a[:4]

'Life'

In [46]:
print(a[:5])
print(a[19:-7])

Life
You need

In [47]:
a = "20010331Rainy"
date = a[:8]
weather = a[8:]

print(date)
print(weather)

20010331
Rainy

In [48]:
a = "Pithon"
a[1]= 'y'

TypeError: 'str' object does not support item assignment

#### String functions
<ol>
<li>count</li>
<li>find</li>
<li>index</li>
<li>join</li>
<li>split</li>
<li>upper / lower</li>
<li>strip</li>
<li>replace</li>
<li>Much More....</li>
</ol>

In [41]:
len("String")

6

In [40]:
a = "hobby"
a.count("b")

2

In [42]:
a = "Python is best choice"
a.find('b')

10

In [43]:
# negative ==> False
a.find('k')

-1

In [44]:
a = "Life is too short"
a.index('t')

8

In [45]:
a.index('k')

ValueError: substring not found

In [47]:
a= ","
a.join('abcd')

'a,b,c,d'

In [55]:
a = "Python "
a.join("Python")

'PPython yPython tPython hPython oPython n'

In [50]:
a = "New York City"
print(a.upper())
print(a.lower())

NEW YORK CITY
new york city

In [52]:
a = " This contains space "
a.strip()

'This contains space'

In [54]:
a = "xxxx Erase xxxx just at both end xxxx"
a.strip("xxxx")

' Erase xxxx just at both end '

In [56]:
a = "xxxx Pain xxxx Gain"
a.replace("xxxx", "No")

'No Pain No Gain'

In [57]:
a = "I have a pen, I have an apple , Ah!!!"
a.split(",")

['I have a pen', ' I have an apple ', ' Ah!!!']

## 3. List

In [56]:
lis = []

In [ ]:
li = ["a","b",12,53.22, True]
li

In [62]:
len(li)

5

In [60]:
li[0]

'a'

In [61]:
li[4]

True

In [63]:
li[len(li)]

IndexError: list index out of range

In [64]:
a= [1,2,3]
b= [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [65]:
a*2

[1, 2, 3, 1, 2, 3]

In [66]:
print(a)
a[2]=4

print(a)

[1, 2, 3]
[1, 2, 4]

In [102]:
a = [k for k in range(1,15)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [99]:
# Last number is not included in slicing.
a[2:5]

[3, 4, 5]

In [103]:
a.append(11)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 11]

In [104]:
a.insert(5, 4)
print(a)

[1, 2, 3, 4, 5, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 11]

In [105]:
# 'extend' has an effect like adds another list to existing list
# '+' returns a new list, which is sum of two list
a.extend([1,2,3])

In [106]:
print(a)

[1, 2, 3, 4, 5, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 11, 1, 2, 3]

In [107]:
a.pop()

3

In [108]:
a.pop(0)

1

In [109]:
a

[2, 3, 4, 5, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 11, 1, 2]

In [111]:
del a[-1]

a[:1] = []
a

[3, 4, 5, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 11]

In [92]:
a.sort()
a

[1, 2, 2, 3, 4, 4, 5, 6, 7, 8, 9, 11]

In [93]:
a.count(4)

2

In [35]:
b = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
b

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 4. Dictionary

In [15]:
dic = {'name':'hyunjoong', 'phone':'01093281544', 'birth': '0219'}
dic

{'birth': '0219', 'name': 'hyunjoong', 'phone': '01093281544'}

In [16]:
dic["email"] = "hj_ben_kim@naver.com"
dic

{'birth': '0219',
 'email': 'hj_ben_kim@naver.com',
 'name': 'hyunjoong',
 'phone': '01093281544'}

In [17]:
del dic["name"]

In [18]:
dic

{'birth': '0219', 'email': 'hj_ben_kim@naver.com', 'phone': '01093281544'}

In [95]:
dic.keys()

dict_keys(['phone', 'email', 'birth'])

In [96]:
dic.values()

dict_values(['01094393246', 'sppy01@naver.com', '0714'])

In [97]:
dic.items()

dict_items([('phone', '01094393246'), ('email', 'sppy01@naver.com'), ('birth', '0714')])

In [98]:
"name" in dic.keys()

False

## 5. Boolean

In [99]:
True

True

In [100]:
if True:
    print("True")
else:
    print("False")

True

In [101]:
if None:
    print("True")
else:
    print("False")

False

In [102]:
if 0:
    print("True")
else:
    print("False")

False

In [39]:
if -5:
    print("True")
else:
    print("False")

True

In [32]:
if 3:
    print("True")
else:
    print("False")

True

In [31]:
if 'a':
    print("True")
else:
    print("False")

True

In [30]:
if "":
    print("True")
else:
    print("False")

False

In [34]:
if [1, 2, 3]:
    print("True")
else:
    print("False")

True

## 6. Shallow or Deep copy

In [26]:
a = [1, 2, 3]
b = a 

print(a)
print(b)

[1, 2, 3]
[1, 2, 3]

In [28]:
a[1]= 8

print(a)
print(b)

b is a

[1, 8, 3]
[1, 8, 3]

True

In [113]:
a = [1, 2, 3]
b = a[:]

print(a)
print(b)

a[1] = 4

print(a)
print(b)

b is a

[1, 2, 3]
[1, 2, 3]
[1, 4, 3]
[1, 2, 3]

False

In [29]:
from copy import copy

b = copy(a)

b is a

False

In [ ]:
a = 1
a

In [1]:
(a, b) = 1 , 3

print(a)
print(b)

1
3

In [ ]:
a = b = 'Python'

print(a)
print(b)

In [4]:
[a, b] = [1,3]

print(a)
print(b)

1
3

In [5]:
[a, b] = [1, 2, 3]

ValueError: too many values to unpack (expected 2)