# 04. Type of variable (2)
> list, tuple, dictionary, set <br/>
> Important data type of python <br/>
> All data type in python is a object <br/>

### 1. List class
- list1 = list()		# create empty list<br>
- list2 = list("Hello")		# create a list which has elements of H, e, l, l, o<br>
- list3 = list(range(0, 5))	# create a list which has elements of 0, 1, 2, 3, 4<br>
- list4 = [ ] 			# create empty list<br>
- list5 = [ "H", "e", "l", "l", "o" ] 	# create a list which has elements of H, e, l, l, o<br> 
- list6 = [ 0, 1, 2, 3, 4 ] # create a list which has elements of 0, 1, 2, 3, 4<br>

### 2. Complex list
- list1 = [12, "dog", 180.14] 				# mixed type of variable <br>
- list2 =  [["Seoul", 10], ["Paris", 12], ["London", 50]] 	# list in list <br> 
- list3 = ["aaa", ["bbb", ["ccc", ["ddd", "eee", 45]]]] 	# list in list <br>

In [1]:
list2 = list("Hello")

In [2]:
list2

['H', 'e', 'l', 'l', 'o']

In [3]:
list2[1]

'e'

In [4]:
a = []
a

[]

In [5]:
# list with mixed type
a = [1, 2.5, "string"]
a

[1, 2.5, 'string']

In [6]:
a[0]

1

In [7]:
b = [[1, 2, 3], "string"]

# extract 3
b[0][2]

3

In [8]:
# list element switch
b[0][2] = "three"
b

[[1, 2, 'three'], 'string']

In [9]:
c = [1, 2, 3, 4, 5]

# minus indexing
c[-1]

5

In [10]:
# list add
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [11]:
a + b + [8, 9]

[1, 2, 3, 4, 5, 6, 8, 9]

In [12]:
# list multiplication
a*2

[1, 2, 3, 1, 2, 3]

In [13]:
#error: minus operation is not supported
a - [4, 5]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [14]:
# Last number is not included in slicing
# [start:end-1]

c[1:4]

[2, 3, 4]

In [15]:
# element check
3 in c

True

In [16]:
7 in c

False

In [17]:
c

[1, 2, 3, 4, 5]

In [18]:
# delete element in a list
del c[3]

In [19]:
# original list has changed
c

[1, 2, 3, 5]

In [20]:
# delete element with slicing
del c[2:]

In [21]:
c

[1, 2]

#### Handle list element like stack and queue

1. append(data) : add a data to element in the end of a list
2. pop(index) : returns a data in list with index and remove the extracted

In [22]:
# append() / pop()

a = [100, 200]
a

[100, 200]

In [23]:
a.append(300)
a

[100, 200, 300]

In [24]:
a.pop()

300

In [25]:
a

[100, 200]

In [26]:
a2 = ['a', 'b', 'c']

In [27]:
a.pop(0)

100

#### List sort

1. sort() function
2. Ascii-code is default criteria for stirng <br/>
3. Adding sort criteria <br/>
4. Inversed sort

In [28]:
a = ['a', 'b', 'e', 'c']

In [29]:
a.sort

In [30]:
a.sort()
a

['a', 'b', 'c', 'e']

In [31]:
a2 = ['a', 'B', 'e', 'C']
a2.sort()
a2

['B', 'C', 'a', 'e']

In [32]:
# sort with key
a = ['a', 'B', 'e', 'C']
a.sort(key=str.lower)
a

['a', 'B', 'C', 'e']

In [33]:
# reverse sort
a = ['a', 'B', 'e', 'C']
a.sort(key=str.lower, reverse=True)
a

['e', 'C', 'B', 'a']

In [34]:
# string-like integer (sorted by ascii-code value)
a = ['123', '34', '56', '2345']
a.sort()
a

['123', '2345', '34', '56']

In [35]:
a = [123, 34, 56, 2345]
a.sort()
a

[34, 56, 123, 2345]

In [36]:
a = ['b', 'a', 'c', 'd']
a.reverse()
a

['d', 'c', 'a', 'b']

In [37]:
# sort with reversed order - another way
a.sort(reverse = True)
a

['d', 'c', 'b', 'a']

In [38]:
a = [0, 1, 2, 3, 4]

In [39]:
# sorted() returns new list
a2 = sorted(a, reverse=True)

print(a)
print(a2)

[0, 1, 2, 3, 4]
[4, 3, 2, 1, 0]

In [40]:
# list in list
b = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
b

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [41]:
b = [[[1.2], ['a', 'b']], ['F']]
b[0][1][0]

'a'

### 3. Tuple
> Immutable list

- tuple1 = ()<br>
- tuple2 = tuple()<br>
- t1 = (1, 2, 3, 4, 5)<br>
- t2 = ("red", "green", "blue")<br>
- t = t1 + t2 <br>
- t3 = 'test', 'test1', 'test2' # listed object without bracket

In [42]:
t1 = (1, 2 ,3)
t2 = ('a', 'b', 'c')

In [43]:
t1, t2

((1, 2, 3), ('a', 'b', 'c'))

In [44]:
# tuple is immutable list. adding or revising element is not supported
# error : t1[2] = 5

In [45]:
# count element
t3 = (1, 2, 2, 1, 3, 4, 5)
t3.count(1)

2

In [46]:
# returns data index
t3.index(5)

6

In [47]:
# tuple in list
list1 = [(1, 2, 3, ), ['a', 'b', 'c']]

In [48]:
list1[0]

(1, 2, 3)

In [49]:
list1[0][1]

2

### 4. Dictionary

1. Syntax : {key : value, key2 : value2 ...}
2. Usage : dict_variable[key]
3. Search a value with related key
- Managed by key, value pair
- Unordered
- Key must be a unique value
- Main functions : get() / items() / keys() / values() / copy() / update() /
- Data management : <br>
    1. Add value in a dictionary : dict_variable['new_key'] = newdata
    2. Get data in a dictionary : get(), ['key']

In [50]:
dic1 = {'p1' : 'v1', 'p2' : 'v2'}

In [51]:
len(dic1)

2

In [52]:
type(dic1)

dict

In [53]:
# dict class
dict()

{}

In [54]:
# key=value structure
dict(one = 1, two = 2)

{'one': 1, 'two': 2}

In [55]:
dic1 = dict(one = 1, two = 2)
dic1['one']

1

In [56]:
dic = {'name':'hyunjoong', 'phone':'01093281544', 'birth': '0219'}
dic

{'name': 'hyunjoong', 'phone': '01093281544', 'birth': '0219'}

In [57]:
dic["email"] = "hj.ben.kim@gmail.com"
dic

{'name': 'hyunjoong',
 'phone': '01093281544',
 'birth': '0219',
 'email': 'hj.ben.kim@gmail.com'}

In [58]:
del dic["name"]

In [59]:
dic

{'phone': '01093281544', 'birth': '0219', 'email': 'hj.ben.kim@gmail.com'}

In [60]:
dic.keys()

dict_keys(['phone', 'birth', 'email'])

In [61]:
dic.values()

dict_values(['01093281544', '0219', 'hj.ben.kim@gmail.com'])

In [62]:
dic.items()

dict_items([('phone', '01093281544'), ('birth', '0219'), ('email', 'hj.ben.kim@gmail.com')])

In [63]:
"name" in dic.keys()

False

In [64]:
# dictionary is non-callable 
dic('phone')

TypeError: 'dict' object is not callable

In [65]:
# dict copy
d = {'a' : 3, 'd' : 2}
d2 = d.copy()
d2

{'a': 3, 'd': 2}

In [66]:
# error: key not exists - d.data(03)

In [67]:
# another way for key=value
d['f'] = 6
d

{'a': 3, 'd': 2, 'f': 6}

In [68]:
# get value from dict
d.get('f')

6

In [69]:
type(d.get('f'))

int

In [70]:
# if data not exists
d.get('c')

In [71]:
type(d.get('c'))

NoneType

In [72]:
# confirm the existence of data using a conditional statement
# validate 'a' in key
if 'a' in d:
    print('a key exists!!')

a key exists!!

In [73]:
# test with keys
'a' in d

True

### 5. Set
1. Data list with unordered, unique elements <br>
- set1 = {2, 1, 3} <br>
- set2 = set() <br>

####  Subset operation & Set operation
> issubset() - check if subset<br>
> issuperset() - check if superset<br>

> union() <br>
> intersection() - '&' operator could be used<br>
> difference() - '-' operator could be used<br>

In [74]:
# subset operation
A = {1, 2, 3}
B = {1, 2, 3}
A == B

True

In [75]:
# subset operation
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
B < A

True

In [76]:
# subset operation
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
B.issubset(A)

True

In [77]:
# set operation
A = {1, 2, 3}
B = {3, 4, 5}

A | B

{1, 2, 3, 4, 5}

In [78]:
A & B

{3}

In [79]:
A - B

{1, 2}

In [80]:
# set class
set2  = set()
set2

set()

In [81]:
type(set2)

set

In [82]:
set2 = {1, 2, 3}
set2

{1, 2, 3}

In [83]:
# set only allows unique value
set3 = {1, 2, 3, 3}  
set3

{1, 2, 3}

In [84]:
# value add on a set
set3.add(5)
set3

{1, 2, 3, 5}

In [85]:
# delete data
set3.discard(3)
set3

{1, 2, 5}

In [86]:
# update set with another set
set4 = {7,8,9}
set3.update(set4)
set3

{1, 2, 5, 7, 8, 9}

In [87]:
# data existance check
7 in set3

True

In [88]:
5 not in set3

False